<!--
 - Created by Burzak on 2018-04-30.
 -->

<apex:page controller="NotesManagementController" id="NotesManagement" docType="html-5.0">
    <apex:pageMessages/>
    <apex:form>
        <apex:pageBlock title="Search Note">
            <apex:pageBlockSection columns="1">
                <apex:inputText label="Title" value="{!title}"/>
                <apex:inputTextarea label="Keywords" value="{!keywords}"/>
                <apex:input type="date" label="Effective Date" value="{!effectiveDate}"/>
                <apex:inputCheckbox label="Active?" value="{!active}"/>
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="top">
                <apex:commandButton action="{!searchNote}" value="Search"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>

    <apex:form>
        <apex:pageBlock id="pbId">
            <apex:actionFunction name="refreshPageSize" action="{!refreshPageSize}" status="fetchStatus"
                                 reRender="pbId"/>
            <apex:pageBlockButtons location="top">
                <div style="text-align:right">
                    <apex:outputText>
                        Total Records Found: {!totalRecord}
                    </apex:outputText>&nbsp;&nbsp;
                    <apex:outputText>
                        {!pageSize}
                    </apex:outputText>&nbsp;&nbsp;
                    <apex:commandLink action="{!con.Previous}" title="Previous Page" value="Previous Page"
                                      rendered="{!con.HasPrevious}"/>
                    <apex:outputPanel styleClass="pShowLess noLink" style="color:grey"
                                      rendered="{!NOT(con.HasPrevious)}">Previous Page
                    </apex:outputPanel>&nbsp;
                    <apex:outputPanel styleClass="pShowLess noLink" style="color:grey" rendered="{!NOT(con.HasNext)}">
                        Next Page
                    </apex:outputPanel>
                    <apex:commandLink title="Next Page" value="Next Page" rendered="{!con.HasNext}"
                                      action="{!con.Next}"/>&nbsp;&nbsp;
                    <apex:selectList value="{!size}" multiselect="false" size="1" onchange="refreshPageSize();">
                        <apex:selectOptions value="{!paginationSizeOptions}"/>
                    </apex:selectList>
                </div>
            </apex:pageBlockButtons>
            <apex:pageBlockTable value="{!myNotes}" var="myNote" style="width:100%">
                <apex:column style="width:150px">
                    <apex:facet name="header">Title</apex:facet>
                    <apex:outputLink value="{! URLFOR($Action.My_Note__c.View, myNote.Id) }">
                        {!myNote.Title__c}
                    </apex:outputLink>
                </apex:column>
                <apex:column>
                    <apex:facet name="header">Description</apex:facet>
                    <apex:outputField value="{!myNote.Description__c}"/>
                </apex:column>
                <apex:column style="width:100px">
                    <apex:facet name="header">Effective Date</apex:facet>
                    <apex:outputField value="{!myNote.Effective_Date__c}"/>
                </apex:column>
                <apex:column style="width:100px">
                    <apex:facet name="header">Active?</apex:facet>
                    <apex:outputField value="{!myNote.Active__c}"/>
                </apex:column>
                <apex:column style="width:100px">
                    <apex:facet name="header">Action</apex:facet>
                    <apex:outputLink value="{! URLFOR($Action.My_Note__c.Edit, myNote.Id) }">
                        Edit
                    </apex:outputLink>&nbsp;
                    <apex:commandLink action="{!doDelete}">Delete
                        <apex:param value="{!myNote.Id}" name="idToDel" assignTo="{!noteId}"/>
                    </apex:commandLink>
                </apex:column>
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>
